<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163933074012-jdqefjtlclk1l1mrps6od7m3qrjp8jjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163933074012-jdqefjtlclk1l1mrps6od7m3qrjp8jjf</string>
	<key>API_KEY</key>
	<string>AIzaSyAEPZClA6ryOMRLlASN0lTQ_VwAtfvgYsg</string>
	<key>GCM_SENDER_ID</key>
	<string>163933074012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kgyamfi.WellnessScout.WellnessScout2</string>
	<key>PROJECT_ID</key>
	<string>wellnessscout-6ceda</string>
	<key>STORAGE_BUCKET</key>
	<string>wellnessscout-6ceda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163933074012:ios:482acbaa60b9f9fc36ac99</string>
</dict>
</plist>